<?xml version="1.0" encoding="utf-8"?>
<!--nefunguje versionName treba nastavovat v gradle-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.tsystems.portablecheckin"
    android:versionCode="4"
    android:versionName="1.1.0"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="cz.tsystems.data.PortableCheckin"
        android:icon="@drawable/ic_pchi_512"
        android:label="@string/app_name" >
        <service android:name="cz.tsystems.communications.CommunicationService" />

        <activity
            android:name="cz.tsystems.portablecheckin.WelcomeActivity"
            android:background="@drawable/welcome_bg"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name="cz.tsystems.base.FragmentPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <!--action android:name="android.intent.action.SEARCH" /-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="PCHIReportSigned" android:host="ReportSigned"/>
            </intent-filter>
            <!--meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" /-->
        </activity>
        <activity
            android:name="cz.tsystems.communications.NotificationReceiverActivity"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name="cz.tsystems.grids.BaseGridActivity"
            android:label="@string/title_activity_base_grid"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/PopupTheme" />
        <activity
            android:name="cz.tsystems.grids.PlanedOrdersGrid"
            android:label="@string/title_activity_base_grid"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.ZakaznikInfo"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.VozidloInfo"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.History"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.PlanActivities"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.portablecheckin.Poznamka"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.Siluets"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.OdlozenePolozky"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.grids.SDA"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.portablecheckin.Protocol"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.portablecheckin.MailActivity"
            android:label="@string/Mail"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.portablecheckin.PhotoNahled"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cz.tsystems.portablecheckin.UnitServiceActivity"
            android:screenOrientation="userLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />


    </application>

</manifest>
